.page-width {
    width: 900px;
}

.textbox-label {
    font-size: small !important;
    width: 120px;
}

.content-interval {
    margin-bottom: 10px;
}

.box {
    position: relative;
    padding: 25px 15px 15px 15px; /*調整*/
    margin: 0 0 20px 5px; /*調整*/
    border: 1px solid gainsboro;
    border-radius: 5px;
    width: auto; /*調整*/
}

.box .caption {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 16px;
    color: rgb(130, 130, 130);
    padding: 0 15px;
    margin: 0;
    background-color: white;
    transform: translateY(-50%) translateX(15px);
}

.dialog-button-width {
    width: 100px;
}

.outline {
    position: relative;
    padding: 25px 15px 0 15px;
    margin: 20px 0 0 5px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    width: 400px;
}

.outline-flex {
    position: relative;
    padding: 25px 15px 0 15px;
    margin: 20px 0 0 5px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.outline-flex .caption {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 16px;
    color: rgb(130, 130, 130);
    padding: 0 15px;
    margin: 0;
    background-color: white;
    transform: translateY(-50%) translateX(15px);
}

.outline .caption {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 16px;
    color: rgb(130, 130, 130);
    padding: 0 15px;
    margin: 0;
    background-color: white;
    transform: translateY(-50%) translateX(15px);
}

.inner-line {
    position: relative;
    margin-top: 30px;
    padding: 25px 0 15px 0;
    width: 100%;
    border-top: 1px solid gainsboro;
}

.inner-line .caption {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 16px;
    color: rgb(130, 130, 130);
    padding: 0 15px;
    margin: 0 auto;
    background-color: white;
    transform: translateY(-50%) translateX(15px);
}
