.page-width {
    width: 1200px;
}

.content-width {
    width: 100%;
}

.input-interval {
    margin-top: 10px !important;
}

.label-font-size {
    font-size: small;
}

.textbox-label {
    font-size: small !important;
    width: 100px;
}

.numberbox .textbox-text {
    text-align: right;
}

.status-box {
    position: relative;
    padding: 0px 40px;
    margin-top: 0px;
    margin-right: auto;
    width: 140px;
    height: 70px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.status-box .caption {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 16px;
    color: rgb(130, 130, 130);
    padding: 0 15px;
    margin: 0;
    background-color: white;
    transform: translateY(-50%) translateX(15px);
}

.outline {
    position: relative;
    padding: 25px 15px 15px 15px;
    margin: 0 0 0 5px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    width: 260px;
}

.outline .caption {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 16px;
    color: rgb(130, 130, 130);
    padding: 0 15px;
    margin: 0;
    background-color: white;
    transform: translateY(-50%) translateX(15px);
}

.grid-layout-style {
    width: 1200px;
    padding-top: 0 !important;
    padding-bottom: 10px !important;
    margin-top: 20px !important;
    box-sizing: border-box;
    padding-bottom: 0px !important;
}

.current-stock-total-style {
    color: red;
}

.grid-current-stock .grid-fixed-date {
    color: red;
    font-weight: bold;
}

.redColorText .textbox-text {
    color: red;
}

.dialog-button-width {
    width: 100px;
}
